<div id="footer">
  <section class="pt-8 pb-4 border-t-2 text-sm md:text-base">
    <div class="container px-4 md:px-0 mx-auto justify-between">
        <div class="flex flex-wrap flex-col-reverse md:flex-row items-center text-sm font-gray-900">

            <!--Column 1-->
            <div class="p-4 w-full md:w-1/4 text-center md:text-left">
                <div class="text-gray-900 text-xl font-bold mt-4 md:mt-0 mb-2 mx-auto">
                  <a href="{{ routes.root_url }}" class="text-gray-900 text-xl font-bold mt-4 md:mt-0 mb-2 mx-auto">
                      <img srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                        src="{{ section.settings.logo | img_url: image_size }}"
                        loading="lazy"
                        class="h-8 inline-block"
                        alt="{{ shop.name }} logo"
                      >
                  </a>
                </div>
                <p class="leading-loose">
                  This is a description for the footer section
                </p>
            </div>
            
            <!--Column 2-->
            <div class="w-full md:w-1/4">     
              <ul class="border-t md:border-none md:block-important">
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a href="{{ link.url }}" class="cursor-pointer inline-block text-2xl shadow-none underline">
                      {{ link.title }}
                    </a>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
            
            <!--Column 3-->
            <div class="w-full md:w-1/4">     
              <ul class="site-footer__linklist">
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a href="{{ link.url }}" class="cursor-pointer inline-block text-2xl shadow-none underline">
                      {{ link.title }}
                    </a>
                  </li>
              {%- endfor -%}
              </ul>
            </div>
            
            <!--Column 4-->
            <div class="w-full md:w-1/4">     
              {%- assign link_list = block.settings.link_list -%}
              <ul class="site-footer__linklist">
                {%- for link in block.settings.menu.links -%}
                  <li>
                    <a href="{{ link.url }}" class="cursor-pointer inline-block text-2xl shadow-none underline">
                      {{ link.title }}
                    </a>
                  </li>
              {%- endfor -%}
              </ul>
            </div>
        </div>

        <!--Payment and shipping providers goes here-->
        <div class="px-2 flex flex-wrap items-center w-full">
            <div class="footer-logos flex flex-wrap items-center justify-center w-full">
              {%- for type in shop.enabled_payment_types -%}
                <li class="flex items-center align-items p-2">
                  {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                </li>
              {%- endfor -%}
            </div>
        </div>

        <!--Trademark-->
        <div class="hidden text-center text-xs mt-8">
            "TRADEMARKNAME" IS A REGISTRED TRADEMARK - TRADEMARK NO. xxx - xxx
        </div>
    </div>
  </section>
  
  <section class="bg-black text-white text-xs">
      <div class="container mx-auto px-4 py-2 text-center">
          COPYRIGHT © 2017-{{ 'now' | date: '%Y'  }} {{ shop.name }}
      </div>
  </section>
</div>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.footer.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.footer.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.footer.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.footer.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.footer.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.footer.settings.color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      },
      {
        "type": "text"
      }
    ]
  }
}
{% endschema %}
